<ion-list>
  <ion-list-header>
    <ion-label>
      Voti e Pagelle {{ state.pagelleInserite() ? "(Archiviate)" : "" }}
    </ion-label>
  </ion-list-header>

  @for (g of state.tuttiInCampo(); track g.id) {
    <ion-item lines="full" class="ion-no-padding">
      <ion-avatar slot="start" style="margin-left: 10px">
        <img [src]="g.fotoUrl" />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h3 style="margin-bottom: 5px">
          <b>{{ g.nome }}</b>
        </h3>

        <ion-textarea
          placeholder="Inserisci la pagella..."
          [value]="g.note || ''"
          [readonly]="state.pagelleInserite()"
          [autoGrow]="true"
          rows="1"
          (ionInput)="aggiornaNote(g, $event.detail.value || '')"
          style="
            font-size: 0.9em;
            --padding-top: 0;
            --padding-bottom: 8px;
            color: var(--ion-color-medium);
          "
        ></ion-textarea>
      </ion-label>

      <div
        slot="end"
        style="
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 5px;
          margin-right: 10px;
        "
      >
        <ion-input
          type="number"
          [value]="g.voto"
          [readonly]="state.pagelleInserite()"
          (ionInput)="aggiornaVoto(g, $event)"
          class="voto-input"
          [style.opacity]="state.pagelleInserite() ? '0.6' : '1'"
        ></ion-input>

        @if (g.gol > 0) {
          <ion-badge color="success">⚽ {{ g.gol }}</ion-badge>
        }
      </div>
    </ion-item>
  }
</ion-list>



@if (!state.pagelleInserite()) {
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    style="margin-bottom: 20px; margin-right: 10px"
  >
    <ion-fab-button color="success" (click)="concludiTutto()">
      <ion-icon name="checkmark-done"></ion-icon>
    </ion-fab-button>
  </ion-fab>
}
