<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      @if (state.step() === "dettagli" && !state.matchConcluso()) {
        <ion-button color="light" (click)="state.step.set('convocati')"
          ><ion-icon name="arrow-back"></ion-icon
        ></ion-button>
      }
      @if (state.step() === "squadre" && !state.matchConcluso()) {
        <ion-button color="light" (click)="state.step.set('dettagli')"
          ><ion-icon name="arrow-back"></ion-icon
        ></ion-button>
      }
      @if (
        state.step() === "match" &&
        !state.isTimerRunning() &&
        !state.matchConcluso()
      ) {
        <ion-button color="light" (click)="confermaTornaASquadre()"
          ><ion-icon name="arrow-back"></ion-icon
        ></ion-button>
      }
    </ion-buttons>

    <ion-title>{{
      state.step() === 'prestazioni'
        ? 'Pagelle'
        : state.matchId()
          ? 'Gestione Match'
          : 'Nuova Partita'
    }}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="chiudi()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (state.step() === "convocati") {
    <app-step-convocati></app-step-convocati>
  }

  @if (state.step() === "dettagli") {
    <app-step-dettagli></app-step-dettagli>
  }

  @if (state.step() === "squadre") {
    <app-step-squadre></app-step-squadre>
  }

  @if (state.step() === "match") {
    <app-step-match></app-step-match>
  }

  @if (state.step() === "prestazioni") {
    <app-step-prestazioni></app-step-prestazioni>
  }

  @if (state.step() === 'convocati' && state.totaleConvocati() >= 2) {
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="state.step.set('dettagli')">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
</ion-content>
