<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Rosa Giocatori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    color="dark"
    placeholder="Cerca per nome, piede, anno..."
    [value]="filtro()"
    (ionInput)="filtro.set($event.detail.value || '')"
    animated="true"
    search-icon="search"
  ></ion-searchbar>

  <ion-list lines="full">
    @for (g of giocatoriFiltrati(); track g.id) {
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option color="medium" (click)="apriModale(g)">
          <ion-icon name="create" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-avatar slot="start">
          <img
            loading="lazy"
            [src]="g.fotoUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
          />
        </ion-avatar>

        <ion-label>
          <h2>
            <b>{{ g.nome }}</b>
            @if (g.soprannome) {
            <span class="nickname">"{{ g.soprannome }}"</span>
            }
          </h2>
          <p class="small-stats">
            🎂 {{ g.annoNascita || 'N.D.' }} &nbsp;|&nbsp; 👟 {{
            g.piedePreferito || 'N.D.' }}
          </p>
          <p class="small-stats dim">
            📏 {{ g.altezza ? g.altezza + ' cm' : 'N.D.' }} &nbsp;|&nbsp; ⚖️ {{
            g.peso ? g.peso + ' kg' : 'N.D.' }}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminaGiocatore(g.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    } @empty {

    <div class="empty-state">
      <ion-icon name="person" class="empty-icon"></ion-icon>
      <p class="empty-text">Nessun giocatore trovato.</p>
    </div>

    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="apriModale()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isModalOpen()" (didDismiss)="isModalOpen.set(false)">
    <ng-template>
      <app-form-giocatore
        [giocatoreData]="giocatoreInModifica()"
        [chiudiModale]="chiudiModale"
      >
      </app-form-giocatore>
    </ng-template>
  </ion-modal>
</ion-content>
