<ion-header>
  <ion-toolbar color="dark">
    <ion-title (click)="secretTitleClick()">
      Classifica
      @if (isAdmin()) {
      <ion-icon
        name="flame"
        color="warning"
        style="vertical-align: middle; margin-left: 5px"
      ></ion-icon>
      }
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    @if (classifica$ | async; as giocatori) { @for (g of giocatori; track g.id;
    let i = $index) {

    <ion-item button="true" detail="false" (click)="apriDettagliGiocatore(g)">
      <ion-note
        slot="start"
        [style.color]="i === 0 ? '#ffd700' : (i === 1 ? '#c0c0c0' : (i === 2 ? '#cd7f32' : '#888'))"
        style="
          font-weight: bold;
          font-size: 1.4em;
          min-width: 35px;
          text-align: center;
          white-space: nowrap;
        "
      >
        {{ i + 1 }}°
      </ion-note>

      <ion-avatar slot="start">
        <img
          [src]="g.fotoUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
          loading="lazy"
        />
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <h2 style="white-space: normal; line-height: 1.2; margin-bottom: 2px">
          <b>{{ g.nome }}</b>
          @if (g.soprannome) {
          <span
            style="
              color: gray;
              font-size: 0.8em;
              margin-left: 3px;
              display: inline-block;
            "
          >
            "{{ g.soprannome }}"
          </span>
          }
        </h2>
        <p
          style="
            white-space: nowrap;
            font-size: 0.85em;
            overflow: hidden;
            text-overflow: ellipsis;
          "
        >
          Media: <b>{{ g.mediaVotoDisplay }}</b> | Gol:
          <b>{{ g.golTotali }}</b> | Match: <b>{{ g.partiteGiocate }}</b>
        </p>
      </ion-label>

      <div
        slot="end"
        style="
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          min-width: 55px;
        "
      >
        <span
          style="
            font-size: 1.6em;
            font-weight: 900;
            color: var(--ion-color-success);
          "
        >
          {{ g.puntiDisplay }}
        </span>
        <span
          style="
            font-size: 0.8em;
            color: var(--ion-color-medium);
            font-weight: bold;
            margin-top: -5px;
          "
        >
          PUNTI
        </span>
      </div>
    </ion-item>

    } @empty {
    <div class="ion-padding ion-text-center">
      <p>Ancora nessun giocatore in database.</p>
    </div>
    } } @else {
    <div class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Calcolo classifica in corso...</p>
    </div>
    }
  </ion-list>

  <ion-modal
    [isOpen]="isModalOpen()"
    (didDismiss)="chiudiModale()"
    [initialBreakpoint]="0.9"
    [breakpoints]="[0, 0.5, 0.9, 1]"
  >
    <ng-template>
      @if (giocatoreSelezionato(); as prof) {

      <app-scheda-giocatore [prof]="prof" [chiudiModale]="chiudiModale">
      </app-scheda-giocatore>

      }
    </ng-template>
  </ion-modal>
</ion-content>
